.theme-switcher {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  padding: var(--space-2);
}

.theme-switcher button {
  height: 100%;
  width: 100%;
  color: hsl(from var(--gray-12) h s l / 0.3);
  box-shadow: inset 0px 0px 0px 1px hsl(from var(--orange-12) h s l / 0.3);
}
