.divider {
  background: linear-gradient(
    180deg,
    transparent 0%,
    var(--orange-9) 10%,
    var(--orange-10) 50%,
    var(--orange-9) 90%,
    transparent 100%
  );
  border-radius: 999px;
}

/* Orientation */
.horizontal {
  height: 2px;
  margin: var(--space-4) auto;
  display: block;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--orange-9) 10%,
    var(--orange-10) 50%,
    var(--orange-9) 90%,
    transparent 100%
  );
}

.vertical {
  width: 3px;
  margin: 0 var(--space-4);
  min-height: 50px;
}

/* Widths (for horizontal) */
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
.width-70 {
  width: 70%;
}
.width-60 {
  width: 60%;
}
.width-50 {
  width: 50%;
}

/* Heights (for vertical) */
.height-100 {
  height: 100%;
}
.height-90 {
  height: 90%;
}
.height-80 {
  height: 80%;
}
.height-70 {
  height: 70%;
}
.height-60 {
  height: 60%;
}
.height-50 {
  height: 50%;
}
